<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/CSS/styles.css">

    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="./img/img.jpg" alt="jesh"/>
        <p>Created by {{name}}</p>
    </body>
</html>